body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #34282C;
}


body #page {
    margin: 0;
    padding: 0;
    width: auto;

}
#header {
    background-color: #ffffff;
    color: #61a534;
    float: left;
    width: 100%;
}
h2 {
    text-align :center;
}

#content-wrapper {
    float: left;
    width: 100%;}
#navigation{ background-color: #000;
    border-right: 2px solid #000;
    float: left;
    height: auto;
    width: 15%;
padding-left: 5px;
color:#fff}
.main-content{float:left;width:75%; }
path {
    fill-opacity: .8;
    stroke: #FFF;
    stroke-width: 0.5px;
}

path:hover {
    fill-opacity: 1;
}
.nepal-map {
    float: left;
}
#mapTooltip{
    position: absolute;
    height: auto;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    -o-border-radius: 18px;
    border-radius: 18px;
    -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
    pointer-events: none;
    color: #132233;
}
#mapTooltip:before{
    border: solid;
    border-color: #fff transparent;
    border-width: 10px 10px 0 10px;
    top:100%;
    content: "";
    left: 43%;
    position: absolute;
    z-index: 99;
}
#mapTooltip.hidden{
    display: none;
}
#mapTooltip p{
    margin: 0;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 20px;
}

.legend {
     position:absolute;
     left:800px;
     top:350px;
 }

.logo {
    background-image: url('../logo.png');
    width: 20px;
    height: 20px;
    background-position:50% 50%;
}

.container ul > li {
    margin-right: 10px;
    padding: 6px 0;
    color: #fff;
    display: inline-block;
    list-style:none;
    float: left;

}

.container ul > li > a , .container ul > li {
    text-transform: uppercase;
    font-family: verdana;
    font-size: 12px;

    color: #fff;
    text-decoration: none;
    list-style:none;
    float: left;
}

#map {
    width: auto;
    float: left;
}

#label #circle {
    width: 20px;
    height: 20px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    border : 1px solid #000;
    background-color : #fff;
}

#label {
    background-color: #34282C;
    color: #fff;
    margin: 5px 0;
    width: 270px;
    padding: 6px;
    border : 2px solid #fff;
}

#label th {
    padding: 1px;
}
#label tr{
    margin: 5px;
}

#label .square { width: 20px; height: 20px;}
#label #unknown-square{ background-color: #EAE7E8 }
#label #red-square{background-color: #FF1D34 }
#label #yellow-square{background-color: #FFC80B }
#label #green-square{background-color: #00AC4F }

#house-damaged svn {background-color: #fffaf5;}

.charts-wrapper {border: 2px solid #fff;
    margin : 5px 0;
    padding-left: 0;
    width: auto;}
